@font-face {
  font-family: 'Lufga';
  src: url('/fonts/LufgaRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-small: 14px;
  --font-medium: 16px;
  --white-logo-color: #fafafb;
  --green-pattern-word: #48ca5e;
  --grey-light: #6e6e6e;
  --red-strong: #de2500;
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: var(--font-medium);
  font-family: 'Lufga', sans-serif;
  background: linear-gradient(-45deg, #48ca5e, #ffffff, #48ca5e);
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media (max-width: 767.98px) {
  body {
    font-size: var(--font-small);
  }
}

@media (min-width: 992px) {
  body {
    font-size: var(--font-medium);
  }
}

@media (min-width: 1200px) {
  body {
    font-size: var(--font-medium);
  }
}
